#scoreboard {
    position: absolute;
    width: 175px;
    height: 75px;
    left: 20px;
    font-size: 100px;
    color: white;
    /* padding: 20px 20px 20px 30px; */
}

@font-face {
    font-family: "testFont";
    src: url('src/assets/fonts/dogica.ttf');
  }